.bgimg {  
    min-height: 143.375vw;
    background-position: center;
    background-size: cover;
    user-select:none;

    margin-top : 5px;
    margin-left : 5px;
    width : calc(100vw - 10px);
  }
  
  .logo{
    width:3em;
    height:3em;
    margin-left: auto;
    margin-right: 1em;
    user-select: none;
  }