

@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');

.container{

  flex:80%;
  display:flex;
  flex-direction:column;
  height:100vh;

    
  section{
    display:flex;    
    flex-direction: column;
    flex : 1 0 100vh;
  }

  .bgimg {  
    height: 143.375vw;
    flex : 1 0 143.375vw;
    background-position: center;
    background-size: cover;
    user-select:none;

    margin-top : 5px;
    margin-left : 5px;
    width : calc(100vw - 10px);    
  }
  
  .logo{
    width:3em;
    height:3em;
    margin-left: auto;
    margin-right: 1em;
    user-select: none;
  }

  .carousel{
    flex:1 0 100vh;
    justify-content: center;
    background:black;

    margin-left : 5px;
    width: calc(100% - 10px);
  }

  .mySlides{
    max-width:100%;
    max-height:100%;
  }


  .map-container{
    width:100%;
    min-height:100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .map-text{
    overflow-y:scroll;    
    text-align : center;
    background: darkred;

    .shadow{

      font-family: 'Black Han Sans', serif;                  
     
      transition: all 0.12s ease-out;

      &:hover{
        position: relative; 
        top: -3px; 
        left: -3px; 
      }
    }

    h1{
      color: yellow;
      font-size:8vw;

      text-shadow: 1px 1px black, 
      2px 2px black, 
      3px 3px black;

      &:hover{
        text-shadow: 1px 1px black, 
                     2px 2px black, 
                     3px 3px black, 
                     4px 4px black, 
                     5px 5px black, 
                     6px 6px black;
      }
    }

    p{
      color: ivory;
      font-size:5vw;

      text-shadow: 1px 1px #165B33, 
      2px 2px #165B33, 
      3px 3px #165B33;

      &:hover{
        text-shadow: 1px 1px #165B33, 
                     2px 2px #165B33, 
                     3px 3px #165B33, 
                     4px 4px #165B33, 
                     5px 5px #165B33, 
                     6px 6px #165B33;
      }
    }

    @media (orientation:landscape){
      h1{
        font-size:4vw;
      }

      p{
        font-size:2.5vw;
      }
    }
    
 
    width: calc(100% - 10px);
    height:calc(50% - 10px);
  }

  .map-content{
    width:calc(100% - 10px);
    height:calc(50% - 10px);
  }

  @media (orientation:landscape){

    .map-container{
      flex-direction: row;
    }


    .map-content{
      width:calc(50% - 10px);
      height:calc(100% - 10px);
    }

      
    .map-text{
      width:calc(50% - 10px);
      height:calc(100% - 10px);
    }  
  }


  /* We're calling this animation "crawl" */
  @keyframes crawl {
    0% {
      /* The element starts below the screen */
      top: 1300px;
      /* Rotate the text 20 degrees but keep it close to the viewer */
      transform:  rotateX(20deg) translateZ(0);
    }
    100% {     
      top: -3000px;    
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }
}


