.bgimg {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  user-select:none;
}

.logo{
  width:3em;
  height:3em;
  margin-left: auto;
  margin-right: 1em;
  user-select: none;
}