.container{
  /* @media screen and (max-width: 600px) {
    flex:100%;
  }; */
  flex:80%;
  display:flex;
  align-items: stretch;
  flex-direction:column;
  height:100vh;
  overflow:auto;
}

.content{
  flex: 1 0 100vh;
  display:flex;    
  flex-direction: column;  
}