

@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');

.container{

  flex:80%;
  display:flex;
  align-items: stretch;
  flex-direction:column;
  height:100vh;
  overflow-y:auto;

    
  section{
    flex: 1 0 100vh;
    display:flex;    
    flex-direction: column;
  }


  .starwars{
    background-color: black;
    overflow: hidden;
    
    perspective:300px;


    justify-content: center;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
  }

  .crawl{    
      position: relative;    
      transform-origin: 50% 70%;
      align-items: center;
      justify-content: center;

      animation: crawl 60s linear;
      animation-iteration-count:infinite;

      img{
        width:100vw;
      }

  }

  
  .fade {
    position: absolute;
    width: 100%;
    min-height: 60vh;  
    top : 0;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 100;
  }



  .map-container{
    width:100%;
    min-height:100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .map-text{
    overflow-y:scroll;    
    text-align : center;
    background:#a1a1a1;

    .shadow{
      color: white;
      font-family: 'Black Han Sans', serif;                  
     
      -webkit-transition: all 0.12s ease-out;
      -moz-transition:    all 0.12s ease-out;
      -ms-transition:     all 0.12s ease-out;
      -o-transition:      all 0.12s ease-out;

      &:hover{
        position: relative; 
        top: -3px; 
        left: -3px; 
      }
    }

    h1{
      font-size:4em;

      text-shadow: 1px 1px #fe4902, 
      2px 2px #fe4902, 
      3px 3px #fe4902;

      &:hover{
        text-shadow: 1px 1px #fe4902, 
                     2px 2px #fe4902, 
                     3px 3px #fe4902, 
                     4px 4px #fe4902, 
                     5px 5px #fe4902, 
                     6px 6px #fe4902;
      }
    }

    p{
      font-size:2em;

      text-shadow: 1px 1px #4902fe, 
      2px 2px #4902fe, 
      3px 3px #4902fe;

      &:hover{
        text-shadow: 1px 1px #4902fe, 
                     2px 2px #4902fe, 
                     3px 3px #4902fe, 
                     4px 4px #4902fe, 
                     5px 5px #4902fe, 
                     6px 6px #4902fe;
      }
    }
    
 
    width:95%;
    height:48%;
  }

  .map-content{
    width:95%;
    height:48%;
  }

  @media (orientation:landscape){

    .map-container{
      flex-direction: row;
    }


    .map-content{
      width:48%;
      height:98%;
    }

      
    .map-text{
      width:48%;
      height:98%;
    }  
  }


  /* We're calling this animation "crawl" */
  @keyframes crawl {
    0% {
      /* The element starts below the screen */
      top: 1300px;
      /* Rotate the text 20 degrees but keep it close to the viewer */
      transform:  rotateX(20deg) translateZ(0);
    }
    100% {     
      top: -3000px;    
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

}


